*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}
.nav-links{
    background-color: aquamarine;
    height: 10vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-links a{
    text-decoration: none;
    font-size: 21px;
    margin: 140px;
    justify-content: space-evenly;
    background-color: grey;
    border: 2px solid black;
    height: 39px;
    width: 114px;
    text-align: center;
    color: white;
    padding: 4px;
    border-radius: 10px;
    position: relative;
}
.container{
    display: flex;
    justify-content: center;
    
}
.box{
    width: 260px;
    height: 250px;
    border: 2px solid black;
    margin: 10px;
    justify-content:center;
}
h1{
    padding: 25px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
#grey{
    background-color: grey;
}
#yellow{
    background-color: yellow;
}
#orange{
    background-color: orange;
}
#violet{
    background-color: violet;
}